#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  font-family: "Roboto Condensed", sans-serif;
  height: 80px;
  padding: 0 2em;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 2.5em;
}

#nav-bar .compose-button {
  border-radius: 10px;
  float: right;
  font-size: 15px;
  height: 50px;
  margin: 15px 0;
  padding: 1em;
}
