.container .new-tweet {
    padding: 0 1em 1em 1em;
    background-color: #F4F4F4;
    border: thin solid #a9a9a9;
    border-radius: 10px;
    margin-bottom: 1em;
    display: none;
}

.container err {
    display: none;
}

.container h2 {
    border-bottom: thin solid black;
}

.container textarea {
    width: 100%;
    padding-bottom: 1em;
}

.container .counter {
    float: right;
    padding: 3px;
}