.container .new-tweet {
  background-color: #f4f4f4;
  border: thin solid #a9a9a9;
  border-radius: 10px;
  display: none;
  margin-bottom: 1em;
  padding: 0 1em 1em;
}

.container err {
  display: none;
}

.container h2 {
  border-bottom: thin solid #000;
}

.container textarea {
  padding-bottom: 1em;
  width: 100%;
}

.container .counter {
  float: right;
  padding: 3px;
}
